* {
	background-image: none;
	box-shadow: none;
  font-family: "Fira Mono Nerd Font";
  font-size: 2rem;
}

window {
	background-color: rgba(29, 32, 33, 0.9);
}

button {
	border-radius: 0;
	border-color: #282828;
	text-decoration-color: #ebdbb2;
	color: #ebdbb2;
	background-color: #1d2021;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
}

button:focus, button:active, button:hover {
	background-color: #98971a;
	outline-style: none;
	color: #282828;
}

#lock {
    background-image: image(url("./icons/gruvbox/lock.svg"));
}

#logout {
    background-image: image(url("./icons/gruvbox/logout.svg"));
}

#suspend {
    background-image: image(url("./icons/gruvbox/sleep.svg"));
}

#hibernate {
    background-image: image(url("./icons/gruvbox/hibernate.svg"));
}

#shutdown {
    background-image: image(url("./icons/gruvbox/shutdown.svg"));
}

#reboot {
    background-image: image(url("./icons/gruvbox/reboot.svg"));
}

